body{
    margin-top: 0px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 0px;
    background-color: rgb(88, 84, 80);
    color: rgb(80, 78, 78);
    font-family:"FC Galaxy", "Courier" , "monospace";
    
}



header{
    text-align: center;
    margin: 0;
    padding: 0;
    right: 40%;
}
nav ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    position: absolute;
    top: 5em;
    left: 135px;
    width: 7em;
    font-size: 34px;
}

ul a{
    text-decoration: none;
}

ul li{
    background-color: rgb(190, 189, 199);
    margin: 0.5cm;
    padding: 0.2cm;
    border-right: lem solid rgb(170, 21, 41);
    
}   

a.link{
    color: rgb(44, 162, 192)

}

a.visited{
    color: rgb(207, 0, 0);
}

address{
    position: absolute;
    top:90%;
    margin-top: lem;
    padding-top: lem;
    border-top: thin dotted;
    margin-left: 58em;
    color: rgb(14, 233, 32);

}

section{
    text-align: center;
    position: absolute;
    left: 24%;
    

}
audio{
    padding-top: 735px;
    width: 250px;
}
